@import url('fonts.css');
@import url('text.css');

body {
    background-color: #111111;
    border: none;
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    border: none;
    background-color: #BBBBBB;
    margin: 0 0 0 0;
    padding: 25px 15px 10px 15px;
}

nav {
    border: none;
    background-color: #222222;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

footer {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

td {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.article {
    float: right;
    width: 70%;
}

.command_col {
    width: 100px;
}

.definitions {
    table-layout: fixed;
}

.sidebar {
    background-color: #BBBBBB;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 26%;
}

.sidebar hr {
    border-top: 2px solid #888888;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.subchunk {
    width: 100%;
}

.term {
    float: left;
    width: 35%;
}

#footerDiv{
    background-color: #333333;
    margin: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
    width: 900px;
}

#mainDiv {
    background-color: #EEEEEE;
    height: 800px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    width: 900px;
}

#sm2Div {
    background-color: #EEEEEE;
    height: 4800px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    width: 900px;
}

#navDiv {
    margin: auto;
    width: 420pt;
}
