@import url('fonts.css');
@import url('text.css');

body {
    background-color: #111111;
    border: none;
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

footer {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    border: none;
    background-color: #BBBBBB;
    margin: 0 0 0 0;
    padding: 25px 15px 10px 15px;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

nav {
    border: none;
    background-color: #222222;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

td {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.article {
    float: right;
    width: 70%;
}

.codeIndent1Reference {
    margin-left: 20px;
    margin-bottom: 50px;
}

.command_col {
    width: 100px;
}

.definitions {
    table-layout: fixed;
}

.footerDiv{
    background-color: #333333;
    margin: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
    width: 900px;
}

.indent1 p {
    margin-left: 15px;
}

.mainDiv {
    background-color: #EEEEEE;
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    width: 900px;
}

.navDiv {
    margin: auto;
    width: 420pt;
}

.returnType {
    background-color: #cfcfcf;
    margin-left: 10px;
    margin-right: 5px;
    padding: 3px 3px 3px 3px;
}

.returnType2 {
    background-color: #cfcfcf;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 3px 3px 3px;
}

.sidebar {
    background-color: #BBBBBB;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 26%;
}

.sidebar hr {
    border-top: 2px solid #888888;
}

.term {
    float: left;
    width: 35%;
}
