@import url('fonts.css');
@import url('text.css');

body {
    background-color: #111111;
    border: none;
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    border: none;
    background-color: #BBBBBB;
    margin: 0 0 0 0;
    padding: 10px 15px 10px 15px;
}

nav {
    border: none;
    background-color: #222222;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

footer {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#footerDiv{
    background-color: #333333;
    margin: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
    width: 700px;
}

#mainDiv {
    background-color: #EEEEEE;
    height: 800px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    width: 700px;
}

#navDiv {
    margin: auto;
    width: 420pt;
}
