html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Gentium Book Plus';
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer p {
    color: #BBBBBB;
    font-size: 10pt;
    margin: 0 0 0 0;
}

header h1 {
    color: #888888;
    padding: 0 0 0 0;
    text-align: center;
}

header a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

nav a {
    color: #888888;
    font-size: 13pt;
    margin: 0 0 0 15px;
    padding: 0 0 0 0;
}

td p {
    padding: 0 0 0 0;
}

.command {
    font-family: 'Roboto Mono';
    font-size: 10pt;
    font-weight: 444;
    padding-top: 4px;
}

.documentation h2 {
    text-align: center;
}

.documentation h3 {
    margin-right: 100px;
}

.sidebar p {
    margin: 0 0 0 0;
}

h1 {
    color: #666666;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2 {
    color: #666666;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p {
    color: #222222;
    margin: 0 0 15px 0;
    padding: 0;
    vertical-align: inherit;
}

sub {
    font-size: 65%;
}

a {
    color: #0000cc;
    text-decoration: inherit;
}

a b em i strong {
    font-size: inherit;
}

td {
    vertical-align: top;
}